.App{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.time-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  margin-top: 16px;
}

.time-slot {
  padding: 8px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  cursor: pointer;
  background: #fff;
  transition: all 0.3s;
}

.time-slot:hover {
      list-style: none;
    /* color: rgb(24, 144, 255); */
    background: #1677ff;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
}

.time-slot.scheduled {
  background: #1890ff;
  color: #fff;
  border-color: #1890ff;
}

.time-slot.selected {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #181818;
  border-color: #181818;
}

.liststyle{
    list-style: none;
    /* color: rgb(24, 144, 255); */
    background: #181818;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    scale: 0.68;
}
.horarios-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  margin-top: 10px;
}

.hora button {
  padding: 10px;
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.hora button:hover {
  background: #e0e0e0;
}

.meusagendamentos{
    font-weight: bold;
    color: rgb(255 255 255);
    background:  linear-gradient(rgb(185, 43, 49), rgb(145 28 33));
    padding: 5px 10px;
    border-radius: 5px;
}

.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from{
color:  linear-gradient(rgb(185, 43, 49), rgb(145 28 33));
font-weight: bold;
font-size: 16px;
}

.fade-enter {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
  transform: translateX(0);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 300ms, transform 300ms;
}
.react-calendar__tile--active{
  background: linear-gradient(rgb(185, 43, 49), rgb(145 28 33))!important;
}